body {
    margin: 0pt;
    padding: 0pt;
}

#grid-container {
    height: 100vh;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: min-content 1fr;

    grid-template-areas:
	"top     top"
	"article nextguess"
        "article guesses";
}

#top-bar {
    grid-area: top;

    padding: 8px;
}

#article-area {
    grid-area: article;
    overflow: scroll;

    width: 80vw;
    min-width: 100px;
    max-width: 80vw;

    border-right: solid 3px black;

    resize: horizontal;

    padding: 8px;
}

#next-guess {
    grid-area: nextguess;

    padding: 8px;

    display: flex;
    flex-direction:row;
}

#guesses-table-area {
    grid-area: guesses;
    overflow: scroll;

    padding: 8px;
}

#guesses-table {
    width: 100%;

    table-layout: fixed;
    border-collapse: collapse;

    padding: 8px;
}

#guesses-table td:nth-child(1) {
    width: 4em;
}

#guesses-table tr.normal-guess:nth-child(even) {
    background-color: rgb(180, 180, 180);
}

#guesses-table tr.normal-guess:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

tr.highlighted-guess {
    background-color: cyan;
}

#guesses-table td {
    padding: 4px;
}

.guesses-count {
    text-align: right;
}

.guesses-word {
    text-align: left;
}

#article-body {
    font-family: monospace;
    letter-spacing: 0.1em;
}

.toolbar-item {
    margin-left: 8px;
}

.toolbar-spacer {
    display: inline-block;
    width: 2em;
}

.flex-fill {
    flex: 1;
}
