body {
    margin: 0pt;
    padding: 0pt;
}

#grid-container {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: min-content 1fr;

    grid-template-areas:
	"top     top"
	"article guess";
}

#top-bar {
    grid-area: top;

    padding: 8px;
}

#article-area {
    grid-area: article;
    overflow: scroll;

    width: 66vw;
    min-width: 100px;
    max-width: 80vw;

    border-right: solid 3px black;

    resize: horizontal;

    padding: 8px;
}

#guess-area {
    grid_area: guess;
    overflow: scroll;

    padding: 8px;
}

#article-body {
    font_family: monospace;
    letter_spacing: 0.1em;
}

.toolbar-item {
    margin-left: 8px;
}

.toolbar-spacer {
    display: inline-block;
    width: 2em;
}
